# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata
GA_script.html

# Example code in package build process
*-Ex.R

# TNDOH AND covidtracking data:
data_tndoh/*
data_covidtracking/*
data_cdc/*

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# data files:
/data_tndoh/
/data_tndoh/COVID_VACCINE_AGE_GROUPS.XLSX
/data_tndoh/COVID_VACCINE_COUNTY_SUMMARY.XLSX
/data_tndoh/COVID_VACCINE_STATE_SUMMARY.XLSX
/data_tndoh/Public-Dataset-Age.xlsx
/data_tndoh/Public-Dataset-County-New.xlsx
/data_tndoh/Public-Dataset-Daily-Case-Info.xlsx
/data_tndoh/Public-Dataset-RaceEthSex.xlsx

/data_cdc/cdc_state_info.csv

# XKCD figure
/code/xkcd.png
